<body id="page-top">
  <header class="masthead text-center text-white d-flex">
    <div class="title">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>好書推薦</strong>
          </h1>
           <hr>
          <%= link_to '馬上新增好書', new_book_path, class: "btn btn-default" %>
         
        </div>
        
        <div class="col-lg-8 mx-auto">
         
          
        </div>
      </div>
    </div>
  </header>

    
   
  
  <table class = "table">
    <thead>
      <tr>
        <td>書名</td>
        <td>作者</td>
        <td>出版年</td>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.year %></td>
          <td><%= link_to "詳細簡介", book_path(book), class: "btn btn-info btn-xs" %></td>
          <td><%= link_to "編輯好書", edit_book_path(book), class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to "刪除好書", book_path(book), method: "delete", data: {confirm: "are you sure ?!", class: "btn btn-danger btn-xs"} %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</body>



